@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
}
body {
    font-family: 'Open Sans', sans-serif; 
    overflow-x: hidden;
}
header .line {
    background-color: #117050; 
    height: 15px;
    width: 100vw;
}
.header--area {
    height: 100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.header-logo img {
    height: 64px;
    width: 64px;
    margin-left: 3rem;
}
.header-search-menu {
    height: 100%;
    display: flex;
    align-items: center;
    margin-inline-start:auto;    
    margin-left: auto;
}
.search {
    border: 1px solid #d4d3d3;
    height: 40px;
    display: flex;
    align-items: center;
}
input {
    border: none;
    outline: 0;
    font-size: 16px;
    padding: 0.6rem;
}
.input-link img{
    margin-left: 10px;
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
.menu img {
    width: 24px;
    height: 24px;
}
.menu {
    margin: 0 2rem;
}
.title {
    font-family: 'Oswald', sans-serif;
    font-size: 96px;
    font-weight: bold;
    width: 50%;
    text-align: center;
    margin-top: 5rem;
    margin-right: 1rem;
}
.section-container-showCase-1 { 
    width: 100vw;
    background-image: url('/assets/imagens/bg.jpg');
    height: 100vh;    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.section-container-showCase-1 h1{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 96px;
    font-weight: 0.1rem;
}
#showCase-1 {
   width: 50vw; 
   padding-left: 5rem;
}
.section-title {
    margin-bottom: 5rem;
}
.section-title p {
    margin-top: 1.5rem;
    font-size: 1rem;
}
.card-products {
    border: 5px solid #117050;
    width: 170px;
    border-radius: 9999px;
}
.section-options {
    display: flex;
    justify-content: space-around;
}
.section-container-showCase-2 {
    display: grid;
    grid-auto-rows: 300px;
    grid-template-columns:repeat(2, 1fr);
}
.primeiro {
    grid-column: 1 / 1;
    grid-row: 1 / 3;
    padding: 4rem 7rem;     
}
.barra {
    width: 10rem;
    height: 1.4rem;
    background-color: #117050;
}
.primeiro h2 {
    font-size: 2.3rem;
    font-family: 'Oswald', sans-serif;
    margin: 0.5rem 0;
}
.paragrafo-citacao {
    font-style: italic;
}
.paragrafo-normal {
    margin: 2rem 0;
    line-height: 1.6rem;
}
.primeiro-botao {
    width: 9.6rem;
    height: 3rem;
    border: 2px solid #6b6868;
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #616161;    
}
.link-starBucks {
    text-decoration: none;
}
.container-link {
    width: fit-content;
}
.primeiro-botao:hover {
    background-color: #6b6868;
    color: #FFF;
}
.segundo {
    grid-column: 2 / 2;
    grid-row: 1 / 4;
    background-image: url('/assets/imagens/f1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.terceiro {
 grid-column: 1 / 1;
 grid-row: 3 / 4;
 background-image: url('/assets/imagens/f2.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 background-position: 50% 50%;
}
/* Ajustes de resposividade do menu, header e primeira section/vitrine do site */
@media (max-width: 450px)  {

    .header--area {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;
    }
    .header-logo img {
        width: fit-content;
        margin-left: 0;
    }
    .header-search-menu {      
        display: flex;
        justify-content: space-around;  
        display: none;
    }
    .section-title {
        width: 100vw;
    }
    .section-title h1 {
        font-size: 2.5rem;
    }
    .section-title p {
        font-size: 0.9rem;
        width: 50vw;
    }
    #showCase-1 {
        width: 100vw;
        height: 60vh;
        padding: 1.5rem 2rem;          
    }
    .section-options {
        width: 100vw;
        display: block;
        
    }
    .card-products {
        width: 7rem;
        margin-bottom: 1rem;
    }
    .section-container-showCase-1 { 
        background-position: 65%;
        overflow: hidden;
    }
    .section-container-showCase-2 {
        display: grid;
        grid-auto-rows: 300px;
    }

    .primeiro {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        padding: 2rem 1rem;
        height: 50%;
    }
    .primeiro h2 {
        font-size: 1.5rem;
    }
    .paragrafo-citacao {
        font-style: italic;
        font-size: 0.9rem;
        margin-top: 1.2rem;
    }
    .paragrafo-normal {
        margin: 2rem 0;
        line-height: 1.6rem;
        font-size: 0.9rem;
    }
    .container-link {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .primeiro-botao {
        width: 9.6rem;
        height: 3rem;
        border: 2px solid #6b6868;
        margin-top: 2rem;
        justify-content: center;
        align-items: center;
        display: flex;
        color: #616161;
    }
    .segundo {
        grid-column: 1 / 3;
        grid-row: 4 / 8;
        height: 50%;
    }
    .terceiro {
        grid-column: 1 / 3;
        grid-row: 3 / 5;
        height: 50%;
    }
    

/* Ajustes de resposividade do menu, section/vitrine do site
para atender resoluções maiores */
}
@media  (width >= 1000px) {
    
    .section-options {
        width: fit-content;
    }     
    .card-products {
        margin-right: 4rem;
    }
}