@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
}
body {
    font-family: 'Open Sans', sans-serif; 
}
header .line {
    background-color: #117050; 
    height: 15px;
    width: 100vw;
}
.header--area {
    height: 100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.header-logo img {
    height: 64px;
    width: 64px;
    margin-left: 3rem;
}
.header-search-menu {
    height: 100%;
    display: flex;
    align-items: center;
    margin-inline-start:auto;    
    margin-left: auto;
}
.search {
    border: 1px solid #d4d3d3;
    height: 40px;
    display: flex;
    align-items: center;
}
input {
    border: none;
    outline: 0;
    font-size: 16px;
    padding: 0.6rem;
}
.input-link img{
    margin-left: 10px;
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
.menu img {
    width: 24px;
    height: 24px;
}
.menu {
    margin: 0 2rem;
}
.title {
    font-family: 'Oswald', sans-serif;
    font-size: 96px;
    font-weight: bold;
    line-height: 6.5rem;
    width: 50%;
    text-align: center;
    margin-top: 5rem;
    margin-right: 1rem;
}
.section-container { 
    width: 100vw;
    background-image: url('/assets/imagens/bg.jpg');
    height: 100vh;    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.section-container h1{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 96px;
    font-weight: 0.1rem;
}
#showCase-1 {
   width: 50vw; 
   padding-left: 5rem;
}
.section-title {
    margin-bottom: 5rem;
}
.section-title p {
    margin-top: 1.5rem;
    font-size: 1rem;
}
.card-products {
    border: 5px solid #117050;
    width: 170px;
    border-radius: 9999px;
}
.section-options {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 450px)  {

    .header--area {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;
    }
    .header-logo img {
        width: fit-content;
        margin-left: 0;
    }
    .header-search-menu {      
        display: flex;
        justify-content: space-around;  
        display: none;
    }
}