@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
}
body {
    font-family: 'Open Sans', sans-serif; 
}
header .line {
    background-color: #117050; 
    height: 15px;
    width: 100vw;
}
.header--area {
    height: 100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.header-logo img {
    height: 64px;
    width: 64px;
    margin-left: 3rem;
}
.header-search-menu {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.search {
    border: 1px solid #999999;
    height: 40px;
    display: flex;
    align-items: center;
}
input {
    border: none;
    outline: 0;
    font-size: 16px;
    padding: 0.6rem;
}
.input-link img{
    margin-left: 10px;
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
.menu img {
    width: 24px;
    height: 24px;
    margin-left: 3rem;
}

.title {
    font-family: 'Oswald', sans-serif;
    font-size: 96px;
    font-weight: bold;
    line-height: 6.5rem;
    width: 50%;
    text-align: center;
    margin-top: 5rem;
    margin-right: 1rem;
}

aside {
    max-width: 1140px;
}